body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #3F4E65;
}

.navigation {
  transition: 0.2ms;
}

.navigation:hover {
  color: rgba(241, 66, 139, 0.3019607843);
}

.nothing {
  transition: 0.2ms;
}

.nothing:hover {
  color: rgba(241, 66, 139, 0.3019607843);
}

@media (max-width: 1919px) {
  body {
    max-width: 1200px;
    margin: auto;
  }
  .header {
    width: 1200px !important;
  }
  .header .adress h3 {
    margin-left: 70px !important;
  }
  .header .about {
    width: 1200px !important;
    padding-left: 50px !important;
  }
  .header .menu {
    padding-left: 78px !important;
  }
  .main-info-map-img {
    margin: 0px !important;
  }
  .main-info-map-text {
    margin-left: 50px !important;
  }
  .aktion-products-wrapper {
    margin-left: 4% !important;
  }
  .footer-conteiner {
    max-height: none !important;
  }
  .footer-conteiner .footer-info1, .footer-conteiner .footer-info2, .footer-conteiner .footer-info3, .footer-conteiner .footer-info4, .footer-conteiner .footer-info5 {
    margin-left: 3% !important;
  }
  .typeBar {
    padding-left: 0% !important;
  }
  .shop-products-conteiner {
    padding-left: 0% !important;
  }
  .shop-products {
    display: inline !important;
  }
  .device-conteiner {
    margin-left: 50px !important;
    margin-top: 30px;
  }
  .oform-order {
    padding-left: 0px !important;
  }
}
@media (max-width: 1200px) {
  body {
    max-width: 990px !important;
  }
  .main-info {
    margin-left: 250px !important;
  }
  .basket-conteiner {
    padding-left: 177px !important;
    padding-right: 177px !important;
  }
  .oform-order {
    padding-left: 0px !important;
    padding-right: 0px !important;
    gap: 10px !important;
    margin-left: 0% !important;
  }
  .oform-basket {
    width: 400px !important;
  }
}
@media (max-width: 992px) {
  .body {
    max-width: 320px !important;
  }
  .header {
    width: 320px;
  }
}
.header {
  max-width: 1920px;
}
.header .adress {
  display: flex;
  margin-top: 14px;
  border-bottom: 1px solid #000;
}
.header .adress h3 {
  font-size: 14px;
  margin-left: 309px;
  font-weight: 600;
}
.header .adress img {
  margin-left: 42px;
}
.header .adress h4 {
  margin-left: 17px;
  font-size: 12px;
  font-weight: 600;
}
.header .about {
  display: flex;
  padding-left: 364px;
  margin-top: 14px;
}
.header .about h4 {
  font-weight: 400;
  font-size: 14px;
  margin-left: 60px;
}
.header .menu {
  display: flex;
  padding-left: 278px;
  padding-right: 290px;
  max-height: 109px;
  max-width: 1920px;
}
.header .menu .nothing {
  margin-left: 15px;
  background-color: #FFC85E;
  color: #FFFFFF;
  width: 192px;
  height: 59px;
  border-radius: 30px;
  border: none;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 700;
}
.header .menu input {
  margin-left: 15px;
  margin-top: 24px;
  width: 263px;
  height: 60px;
  border-radius: 30px;
  color: #5C6370;
  background-color: #EDEDED;
}
.header .menu h3 {
  margin-left: 15px;
  padding-top: 22px;
  font-size: 14px;
  font-weight: 600;
}
.header .menu h4 {
  font-size: 12px;
  font-weight: 400;
}
.header .menu h5 {
  font-size: 10px;
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.header .menu .basket {
  margin-top: 40px;
  margin-left: 50px;
}
.header .menu button {
  background: transparent;
  border: none !important;
}
.header .menu .basket-text {
  margin-top: 40px;
  margin-left: 15px;
  text-decoration: none;
  font-size: 12px;
}

.wrapperh1 {
  font-weight: 800;
  font-size: 40px;
  margin-top: 80px;
  margin-left: 8%;
}

.aktion-products-wrapper {
  max-width: 100%;
  margin-left: 8%;
}

.aktion-products {
  max-width: 326px;
  max-height: 490px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 28px;
}
.aktion-products img {
  margin-left: 20%;
}
.aktion-products h3 {
  font-weight: 800;
  font-size: 16px;
}
.aktion-products b {
  font-weight: 500;
  font-size: 14px;
}
.aktion-products p {
  font-weight: 800;
  font-size: 16px;
}
.aktion-products button {
  float: right;
  margin-right: 50px;
  border: none;
  color: #fff;
  background-color: #FFC85E;
  width: 153px;
  height: 45px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 10px;
}

.main {
  margin-top: 100px;
}
.main .main-info {
  display: flex;
  justify-content: space-around;
}
.main .main-info-img {
  background-color: #f3e5cb;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 250px;
}
.main .main-info-img h4 {
  font-weight: 500;
  font-size: 16px;
}
.main .main-info-map {
  margin-top: 100px;
  position: relative;
}
.main .main-info-map .main-info-map-img {
  margin-left: 277px;
}
.main .main-info-map .main-info-map-text {
  display: block;
  position: absolute;
  top: 0;
  max-width: 735px;
  max-height: 434px;
  margin-left: 307px;
  margin-top: 90px;
}
.main .main-info-map .main-info-map-text h2 {
  font-weight: 500;
  font-size: 40px;
}
.main .main-info-map .main-info-map-text h3 {
  font-weight: 300;
  font-size: 20px;
}
.main .main-info-map .main-info-map-text h4 {
  display: flex;
  font-weight: 700;
  font-size: 14px;
}

.main-conteiner {
  height: 800px;
  background: no-repeat;
}
.main-conteiner .main-conteiner-info {
  color: #fff;
  height: 365px;
  max-width: 570px;
  padding-top: 98px;
  margin-left: 272px;
}
.main-conteiner .main-conteiner-info h1 {
  font-size: 70px;
  font-weight: 500;
}
.main-conteiner .main-conteiner-info h2 {
  font-size: 30px;
  font-weight: 800;
  padding-top: 45px;
}
.main-conteiner .main-conteiner-info button {
  background-color: #FFC85E;
  color: #fff;
  border: none;
  width: 300px;
  height: 95px;
  border-radius: 50px;
  margin-top: 60px;
}
.main-conteiner .main-conteiner-info h3 {
  font-size: 18px;
  font-weight: 700;
}
.main-conteiner .main-conteiner-info .main-conteiner-info2 {
  padding-top: 91px;
  display: flex;
  justify-content: space-around;
}
.main-conteiner .main-conteiner-info .main-conteiner-info2 h4 {
  font-size: 14px;
  font-weight: 400;
}

.footer-conteiner {
  max-width: 1920px;
  max-height: 500px;
  display: flex;
  color: #EDEDED;
  background-color: #3F4E65;
  margin-top: 100px;
}
.footer-conteiner .footer-info1 {
  max-width: 320px;
  margin-left: 277px;
  margin-top: 60px;
  margin-bottom: 150px;
  justify-content: space-around;
}
.footer-conteiner .footer-info1 h4 {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
}
.footer-conteiner .footer-info1 h5 {
  margin-top: 45px;
  font-size: 12px;
}
.footer-conteiner .footer-info1 input {
  width: 290px;
  height: 60px;
  font-size: 12px;
  color: #5C6370;
  background-color: #FFFFFF;
  border: none;
  border-radius: 30px;
}
.footer-conteiner .footer-info2 {
  margin-top: 71px;
  margin-left: 51px;
}
.footer-conteiner .footer-info2 h3 {
  font-size: 20px;
  font-weight: 600;
}
.footer-conteiner .footer-info2 h4 {
  font-size: 14px;
  font-weight: 400;
}
.footer-conteiner .footer-info3 {
  margin-top: 71px;
  margin-left: 98px;
}
.footer-conteiner .footer-info3 h3 {
  font-size: 20px;
  font-weight: 600;
}
.footer-conteiner .footer-info3 h4 {
  font-size: 14px;
  font-weight: 400;
}
.footer-conteiner .footer-info4 {
  margin-top: 71px;
  margin-left: 154px;
}
.footer-conteiner .footer-info4 h3 {
  font-size: 20px;
  font-weight: 600;
}
.footer-conteiner .footer-info4 h4 {
  font-size: 14px;
  font-weight: 400;
}
.footer-conteiner .footer-info4 button {
  width: 214px;
  height: 60px;
  color: #FFFFFF;
  background-color: #FFC85E;
  border: none;
  border-radius: 30px;
}
.footer-conteiner .footer-info5 {
  margin-top: 71px;
  margin-left: 100px;
}
.footer-conteiner .footer-info5 h3 {
  font-size: 20px;
  font-weight: 600;
}
.footer-conteiner .footer-info5 h4 {
  font-size: 14px;
  font-weight: 400;
}

.shop-conteiner {
  margin-left: 277px;
  margin-right: 277px;
}
.shop-conteiner .shop {
  width: 100%;
}
.shop-conteiner .typeBar {
  display: flex;
  margin-top: 100px;
  padding-left: 150px;
}
.shop-conteiner .shop-products-conteiner {
  padding-left: 150px;
}
.shop-conteiner .shop-products {
  max-width: 326px;
  max-height: 490px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 28px;
}
.shop-conteiner .shop-products img {
  margin-left: 20%;
}
.shop-conteiner .shop-products h3 {
  font-weight: 800;
  font-size: 16px;
}
.shop-conteiner .shop-products b {
  font-weight: 500;
  font-size: 14px;
}
.shop-conteiner .shop-products p {
  font-weight: 800;
  font-size: 16px;
}
.shop-conteiner .shop-products button {
  float: right;
  margin-right: 50px;
  border: none;
  color: #fff;
  background-color: #FFC85E;
  width: 153px;
  height: 45px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 10px;
}

.basket-conteiner {
  padding-left: 277px;
  padding-right: 277px;
  width: 100%;
}
.basket-conteiner .offer-title {
  font-size: 40px;
  font-weight: 500;
}
.basket-conteiner .total-price {
  padding-top: 78px;
  padding-right: 55px;
  float: right;
}
.basket-conteiner .order-items {
  display: flex;
  justify-content: space-around;
  border-color: #000;
  border-style: solid;
  border-width: 0.5px;
  margin-top: 5px;
}
.basket-conteiner .order-items p, .basket-conteiner .order-items button {
  margin-top: 80px;
}
.basket-conteiner .order-items .change-product {
  width: 34px;
  height: 25px;
  border: none;
  background-color: #FFC650;
  border-radius: 15px;
}
.basket-conteiner .order-items .trash {
  background: transparent;
  border: none !important;
  font-size: 0;
  width: 59px;
  height: 59px;
}
.basket-conteiner .offer {
  width: 100%;
}
.basket-conteiner .offer button {
  width: 192px;
  height: 59px;
  margin-bottom: 100px;
  margin-top: 50px;
  border: none;
  background-color: #FFC85E;
  color: #fff;
  border-radius: 30px;
}

.device-conteiner {
  width: 100%;
  margin-left: 277px;
  margin-right: 277px;
  display: flex;
}
.device-conteiner .device-image {
  max-width: 700px;
  max-height: 500px;
}
.device-conteiner .device-info {
  max-width: 700px;
  margin-left: 70px;
}
.device-conteiner .device-info h1, .device-conteiner .device-info h2 {
  font-size: 30px;
  font-weight: 800;
}
.device-conteiner .device-info button {
  border: none;
  background-color: #FFC85E;
  color: #fff;
  width: 184px;
  height: 59px;
  border-radius: 30px;
  float: right;
}

.oform-order {
  display: flex;
  margin-top: 112px;
  padding-left: 277px;
  padding-right: 277px;
  gap: 100px;
}
.oform-order h1 {
  display: inline;
  font-size: 40px;
  font-weight: 500;
}
.oform-order .oform-base input {
  border: none;
  background-color: #EDEDED;
  border-radius: 30px;
  width: 289px;
  height: 59px;
}
.oform-order .oform-base h2 {
  font-size: 24px;
  font-weight: 500;
}
.oform-order .oform-base h3 {
  font-size: 16px;
  font-weight: 500;
}
.oform-order .oform-base button {
  margin-top: 40px;
  border: none;
  border-radius: 30px;
  background-color: #FFC85E;
  color: #fff;
  width: 289px;
  height: 59px;
}
.oform-order .oform-info {
  padding-top: 70px;
  width: 300px;
}
.oform-order .oform-info h2 {
  font-size: 24px;
  font-weight: 500;
}
.oform-order .oform-info h4 {
  font-size: 12px;
  font-weight: 400;
}
.oform-order .oform-info .komment {
  background-color: #EDEDED;
  width: 289px;
  height: 324px;
  border: none;
  border-radius: 15px;
}
.oform-order .oform-info .oform-info-block {
  margin-top: 20px;
  width: 289px;
  height: 134px;
  background: #FFFFFF;
  box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.oform-order .oform-info .oform-info-block img {
  margin-top: 10px;
}
.oform-order .oform-info .oform-info-block h2 {
  display: inline-block;
  padding-left: 10px;
  margin-top: 10px;
  padding-top: 10px;
}
.oform-order .oform-info .oform-info-block h4 {
  display: inline-block;
  padding-left: 40px;
  padding-right: 15px;
  padding-top: 10px;
}
.oform-order .oform-basket {
  padding-top: 110px;
}
.oform-order .oform-basket .oform-basket-info {
  overflow-y: scroll;
  height: 900px;
}
.oform-order .oform-basket .oform-basket-items {
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 500px;
}
.oform-order .oform-basket .oform-basket-items p {
  padding-top: 70px;
}
.oform-order .oform-basket h2 {
  font-size: 30px;
  font-weight: 700;
}
.oform-order .oform-basket h3 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}
.oform-order .oform-basket h4 {
  margin-top: 30px;
  max-width: 150px;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
}
.oform-order .oform-basket button {
  margin-top: 40px;
  width: 237px;
  height: 59px;
  background-color: #FFC85E;
  color: #fff;
  border: none;
  border-radius: 30px;
}
.oform-order .numbers {
  width: 35px;
  height: 35px;
  background-color: rgba(255, 198, 80, 0.3019607843);
  text-align: center;
  padding-top: 5px;
  border-radius: 50%;
  margin-top: 20px;
}/*# sourceMappingURL=index.css.map */